[Unit]
Description=Mtail Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Type=simple
Restart=on-failure
ExecStart=/home/chia/ChiaMonitor/mtail  --progs /home/chia/ChiaMonitor/ --logs /home/chia/.chia/mainnet/log/debug.log --logs /home/chia/farmer_summary.log --poll_interval 3000ms

[Install]
WantedBy=multi-user.target